<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="org.appium.utils.Listeners"/>
    </listeners>
    <test thread-count="5" name="End to end test">
        <classes>
            <class name="org.appium.eCommerceTest_4_Hybrid"/>
        </classes>
    </test>
    <test thread-count="5" name="Error validations test">
        <classes>
            <class name="org.appium.eCommerceTest_2"/>
        </classes>
    </test>
</suite>